# Venture Funding with Deep Learning

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

### Prepare the supplied data to be used on a neural network model

In [2]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data.csv

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")
# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [6]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [7]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [9]:
# Create a OneHotEncoder instance
enc = enc = OneHotEncoder(sparse=False)

In [10]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [11]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
numerical_variables_df = applicant_data_df.drop(columns = categorical_variables)

encoded_df = pd.concat(
    [
        numerical_variables_df,
        encoded_df
    ],
    axis=1
)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [14]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [16]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test =  train_test_split(X, y, random_state=1)

In [18]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [28]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [29]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [30]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = (number_input_features + 1) // 2 

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [31]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [32]:
# Create the Sequential model instance
nn = Sequential()

In [33]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [34]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [35]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="sigmoid"))

In [37]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 58)                6786

 dense_4 (Dense)             (None, 29)                1711

 dense_5 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

In [41]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [42]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5780 - accuracy: 0.7172
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7289
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7297
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7315
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7321
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7328
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7332
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7325
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7336
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7341
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7331
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7357
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7359
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7355
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7353
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7361
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7360
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7364
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7365
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7365
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7372
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7371
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7376
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7378
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7373
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7389
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7378
Epoch 28/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5365 - accuracy: 0.7386
Epoch 29/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5362 - accuracy: 0.7384
Epoch 30/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5359 - accuracy: 0.7398
Epoch 31/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5365 - accuracy: 0.7375
Epoch 32/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5359 - accuracy: 0.7384
Epoch 33/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5350 - accuracy: 0.7396
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7383
Epoch 35/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5351 - accuracy: 0.7392
Epoch 36/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5352 - accuracy: 0.7387
Epoch 37/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5347 - accuracy: 0.7395
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7381
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7391
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7399
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7388
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7385
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7400
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7401
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7401
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7402
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7398
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7394
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7400
Epoch 50/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5328 - accuracy: 0.7395

In [43]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5560 - accuracy: 0.7312 - 492ms/epoch - 2ms/step
Loss: 0.5559708476066589, Accuracy: 0.731195330619812

In [44]:
# Set the model's file path
file_path = 'AlphabetSoup.h5'

# Export your model to a HDF5 file
nn.save(file_path)

### Alternative Model 1

In [52]:

# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [53]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [54]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + 10) // 2 

# Define the the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = (hidden_nodes_layer1_A1 + 10) // 2

In [55]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [56]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, activation="relu"))

# Output layer
nn_A1.add(Dense(units=number_output_neurons, activation="sigmoid"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 63)                7371

 dense_10 (Dense)            (None, 36)                2304

 dense_11 (Dense)            (None, 1)                 37

=================================================================
Total params: 9,712
Trainable params: 9,712
Non-trainable params: 0
_________________________________________________________________

In [57]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [58]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5722 - accuracy: 0.7205
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7300
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5508 - accuracy: 0.7313
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7326
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7326
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7341
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5444 - accuracy: 0.7329
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7342
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7360
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5417 - accuracy: 0.7350
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7352
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7362
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5404 - accuracy: 0.7365
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7356
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7369
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7364
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7371
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7386
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7381
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5380 - accuracy: 0.7381
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5375 - accuracy: 0.7384
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7386
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7379
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7386
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7392
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7392
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7395
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7390
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7389
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5351 - accuracy: 0.7401
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5350 - accuracy: 0.7406
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5346 - accuracy: 0.7397
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7401
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7404
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5344 - accuracy: 0.7392
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7404
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7414
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7402
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7413
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7407
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7402
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7417
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5331 - accuracy: 0.7406
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7410
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7413
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7410
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7416
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7413
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7416
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7403
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7413
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7413
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7419
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7410
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7417
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7425
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7410
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7417
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7422
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5308 - accuracy: 0.7425
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5310 - accuracy: 0.7409
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5306 - accuracy: 0.7418
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5308 - accuracy: 0.7422
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5306 - accuracy: 0.7427
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5306 - accuracy: 0.7406
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5304 - accuracy: 0.7422
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5309 - accuracy: 0.7422
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5304 - accuracy: 0.7421
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7421
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7414
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5301 - accuracy: 0.7424
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5298 - accuracy: 0.7427
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5298 - accuracy: 0.7425
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5304 - accuracy: 0.7416
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5298 - accuracy: 0.7421
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5295 - accuracy: 0.7415
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5296 - accuracy: 0.7421
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5293 - accuracy: 0.7416
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5293 - accuracy: 0.7421
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5297 - accuracy: 0.7423
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5291 - accuracy: 0.7428
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5291 - accuracy: 0.7423
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5294 - accuracy: 0.7415
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5291 - accuracy: 0.7425
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5285 - accuracy: 0.7430
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5285 - accuracy: 0.7434
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5290 - accuracy: 0.7423
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5284 - accuracy: 0.7429
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5288 - accuracy: 0.7417
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5288 - accuracy: 0.7425
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5288 - accuracy: 0.7427
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5283 - accuracy: 0.7428
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5284 - accuracy: 0.7428
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5283 - accuracy: 0.7430
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5285 - accuracy: 0.7420
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5286 - accuracy: 0.7418
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5280 - accuracy: 0.7430
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5284 - accuracy: 0.7426
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5281 - accuracy: 0.7423
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5282 - accuracy: 0.7432

In [59]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5605 - accuracy: 0.7290 - 751ms/epoch - 3ms/step
Loss: 0.5605008006095886, Accuracy: 0.7289795875549316

#### Alternative Model 2

In [60]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [62]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features + 1) // 2 
hidden_nodes_layer2_A2 = (hidden_nodes_layer1_A2 + 1) // 2
hidden_nodes_layer3_A2 = (hidden_nodes_layer2_A2 +1) // 2

In [63]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [64]:
# Hidden layers
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation="relu"))
nn_A2.add(Dense(units=hidden_nodes_layer3_A2, activation="relu"))

# Output layer
nn_A2.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 58)                6786

 dense_13 (Dense)            (None, 29)                1711

 dense_14 (Dense)            (None, 15)                450

 dense_15 (Dense)            (None, 1)                 16

=================================================================
Total params: 8,963
Trainable params: 8,963
Non-trainable params: 0
_________________________________________________________________

In [65]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [66]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5755 - accuracy: 0.7183
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7302
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5500 - accuracy: 0.7305
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7320
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7329
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7350
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7339
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7338
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7354
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7357
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7357
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7374
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7359
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7360
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7362
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7364
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7367
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7369
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7380
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7372
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7381
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7381
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7379
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7392
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7381
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7386
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7391
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7386
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7399
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7394
Epoch 31/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7393
Epoch 32/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5346 - accuracy: 0.7395
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7398
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7386
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7399
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7395
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7401
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7404
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7407
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5334 - accuracy: 0.7405
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7395
Epoch 42/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5331 - accuracy: 0.7395
Epoch 43/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5330 - accuracy: 0.7411
Epoch 44/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5331 - accuracy: 0.7402
Epoch 45/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5326 - accuracy: 0.7402
Epoch 46/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5324 - accuracy: 0.7408
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7406
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7398
Epoch 49/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5323 - accuracy: 0.7403
Epoch 50/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5321 - accuracy: 0.7403
Epoch 51/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5322 - accuracy: 0.7406
Epoch 52/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5315 - accuracy: 0.7417
Epoch 53/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5314 - accuracy: 0.7411
Epoch 54/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5313 - accuracy: 0.7417
Epoch 55/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5315 - accuracy: 0.7409
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5315 - accuracy: 0.7416
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5315 - accuracy: 0.7414
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5309 - accuracy: 0.7413
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5306 - accuracy: 0.7413
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7406
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5305 - accuracy: 0.7415
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5301 - accuracy: 0.7418
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5305 - accuracy: 0.7412
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7411
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7417
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5298 - accuracy: 0.7416
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7424
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5299 - accuracy: 0.7417
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7418
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5297 - accuracy: 0.7421
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5299 - accuracy: 0.7416
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5296 - accuracy: 0.7428
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5296 - accuracy: 0.7420
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5290 - accuracy: 0.7420
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5294 - accuracy: 0.7416
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5293 - accuracy: 0.7401
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5298 - accuracy: 0.7409
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5289 - accuracy: 0.7423
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5291 - accuracy: 0.7424
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5291 - accuracy: 0.7411
Epoch 81/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5291 - accuracy: 0.7421
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5285 - accuracy: 0.7417
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5287 - accuracy: 0.7412
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5284 - accuracy: 0.7423
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5290 - accuracy: 0.7425
Epoch 86/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5284 - accuracy: 0.7423
Epoch 87/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5284 - accuracy: 0.7432
Epoch 88/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5290 - accuracy: 0.7424
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5290 - accuracy: 0.7422
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5285 - accuracy: 0.7421
Epoch 91/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5285 - accuracy: 0.7428
Epoch 92/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5282 - accuracy: 0.7423
Epoch 93/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5281 - accuracy: 0.7423
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5285 - accuracy: 0.7427
Epoch 95/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5278 - accuracy: 0.7425
Epoch 96/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5277 - accuracy: 0.7424
Epoch 97/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5281 - accuracy: 0.7426
Epoch 98/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5290 - accuracy: 0.7420
Epoch 99/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5279 - accuracy: 0.7418
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5277 - accuracy: 0.7423

In [67]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5560 - accuracy: 0.7312 - 357ms/epoch - 1ms/step
Loss: 0.5559708476066589, Accuracy: 0.731195330619812

In [68]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A1.evaluate(X_test_scaled,y_test,verbose=2)
# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5605 - accuracy: 0.7290 - 355ms/epoch - 1ms/step
Loss: 0.5605008006095886, Accuracy: 0.7289795875549316

In [69]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled,y_test,verbose=2)
# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5663 - accuracy: 0.7321 - 451ms/epoch - 2ms/step
Loss: 0.566263735294342, Accuracy: 0.7321282625198364

### Save each of the alternative models as an HDF5 file.

In [70]:
# Set the file path for the first alternative model
file_path = 'AlphabetSoup_A1.h5'

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [71]:
# Set the file path for the second alternative model
file_path = 'AlphabetSoup_A2.h5'

# Export your model to a HDF5 file
nn_A2.save(file_path)